<div class="container">
  <header>
    <img src="/assets/sp_logo.jpg" alt="Succeed Sports" />
    <h2>Welcome to Administrator Page of Sport Medicines! </h2>
  </header>
  <article>
  <nav class="btn btn-warning navbar navbar-expand-lg navheader">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="list" class="nav-link">ProductList</a>
        </li>
        <li class="nav-item">
          <a routerLink="addproduct" class="nav-link">Add Product</a>
        </li>
      </ul>
    </div>
  
  </nav>
  <router-outlet></router-outlet>
  <footer>
    <address>
    Succeed Sports &#8226; 42 Ventura Av. &#8226; Los Angeles, CA 
    78711 &#8226; 512.555.9917
    </address>
 </footer>
</article>
</div>
